@media only screen and (max-width:600px){
    table{
        width: 100%;
    }
    th{
        display: inline-block;
    }
    td{
        display: inline-block;
    }
}
@media only screen and (max-width:600px){
    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        /* float: right; */
        display: inline-block;
      }
}