<!-- <div class="col-4 bg-primary mx-auto card card-primary m-2 p-2">
  <h2>Add Category</h2>
</div>

<br>
<div class="alert alert-success text-white text-center" *ngIf="msg!=undefined" [ngStyle]="{'background-color':this.msgflag?'red':'purple'}">{{msg}}</div>
  <br>
<section class="col-6">
  
<div class="input-group mb-3" >
  <div class="input-group-prepend m-2">
    <h3>Category Name</h3>
  </div>
  <input type="text" class="form-control" placeholder="Enter Category Name" [(ngModel)]="cat.categoryName" aria-label="" aria-describedby="basic-addon1" >
  
</div>
<input type="submit" (click)="addcat()" class="form-control btn btn-success col-3" style="float: right;" value="Submit">

</section> -->
<section class="col-6  mx-auto p-2 m-2">
  <div class="alert alert-success text-white" *ngIf="msg!=undefined" [ngStyle]="{'background-color':this.msgflag?'green':'red'}">{{msg}}</div>
  <form #catform="ngForm" (ngSubmit)="addcat()">
    
    <div class="input-group mb-3" >
    <div class="input-group-prepend">
      <h3>Category Name</h3></div>
    <div><input class="m-2 p-2" type="text" [(ngModel)]="cat.categoryName" name="txtname" #ename="ngModel" required pattern="^[A-Za-z\s]{1,}[A-za-z\s]{0,}$" /></div>
 <div *ngIf="ename.invalid&&ename.touched" class="alert alert-danger">
      <div *ngIf="ename.errors.required">Category Name is required</div>
      <div *ngIf="ename.errors.pattern">Category Name must contain alphabet and can have space in between</div>
    </div>
    </div>
    <input type="submit" class="form-control btn btn-success col-4" style="float: right;" value="Add Category" [disabled]="!catform.valid">
  </form>
</section>
 