<!-- <style>
    body {
     background-image: url('../assets/images/blue.jpeg');
     /* background-repeat: no-repeat; */
     /* background-attachment: fixed; */
     background-size: cover;
     min-width: 100%;
     min-height: 100%;
   }
    </style> -->
<header class="col-10 mx-auto bg-light">
  <h1 class="text-center">Electronics Shop</h1>
</header>
 
   

<div>
  <div class="col-10 text-end" *ngIf="storageservice.loginflag">
    <span class="text-info"><h4> Hi, {{storageservice.username|titlecase}}</h4></span>
  </div>
</div>
<section class="col-10 mx-auto bg-warning">
<ul class="nav nav-pills bg-primary text-white">
  <li class="nav-item">
      <div>
        <div class="col-10 text-end" *ngIf="!storageservice.loginflag">
          <a routerLink="/login" style="cursor:pointer" class="nav-link text text-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
        </div>
        <div class="col-10 text-end" *ngIf="storageservice.loginflag">
          <a (click)="doLogout()" class="btn-link" style="cursor:pointer" class="nav-link dropdown-toggle text text-white">Logout</a>
        </div>
      </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text text-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PRODUCTS</a>
    <div class="dropdown-menu">
      <a class="dropdown-item"  routerLink='addproducts'>Add Products</a>
      <!-- <a class="dropdown-item"  routerLink='viewbycategoryname'>View By Category Name</a> -->
      <a class="dropdown-item"  routerLink='viewbyproductId'>View By Product Id</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text text-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIES</a>
    <div class="dropdown-menu">
      <a class="dropdown-item"  routerLink='addcategory'>Add Category</a>
      <a class="dropdown-item"  routerLink='viewall'>View all Categories</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text text-white" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">Product Specifications</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink='addproductspecs'>Add Product Specifications</a>
      <a class="nav-link dropdown-toggle text text-white" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">View Product Specifications</a>
    <div class="dropdown-menu">
      <!-- <a class="dropdown-item" routerLink='viewproductspecsbyproductid'>View Product Specifications by Product Id</a> -->
      <a class="dropdown-item" routerLink='viewproductspecsbyspecid'>View Product Specifications by Spec Id</a>
    </div>
    </div>
   
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text text-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BASKET</a>
    <div class="dropdown-menu">
      <a class="dropdown-item"  routerLink='getitemsbycustid'>Go To Basket</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">ViewOrder</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink='/vieworders/bycustid'>View Order By CustId</a>
    </div>

  </li>
  
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text text-white" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">View Payment Details</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink='viewpayment'>View Your Payment details by Transaction ID</a>
      <a class="dropdown-item" routerLink='viewpaymentbycustid' >All your Payment</a>
      <!-- <a class="dropdown-item" routerLink='makepayment' >Make Payment</a> -->
    </div>
   
  </li>
 


</ul>

<form id="backbutton">
  <input type="button" class="btn-primary" value="back" onclick="history.go(-1)">
</form>
</section>
<article class="col-10 mx-auto bg-gradient-info">
  <router-outlet></router-outlet>
</article>
<br>
