@media only screen and (max-width:600px){
    table{
        width: 80%;
    }
    th{
        display: none;
    }
    td{
        display: block;
    }
}
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
/* .btn {
    font-size:0.875em;
    display:block;
    left:-60px;
    margin-top:35px;
  } */
  /* .btn {
    width: 100%;
    min-width: 50px; 
    max-width: 300px; 
 } */